<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.weaversolutionsgt.app"
        versionCode = "10" 
        version     = "1.0.0" >



    <name>Weaver Solutions - GitHub</name>

    <description>
        Weaver Solutions brinda soluciones de IT para tu empresa
    </description>

	<icon src="weaver.png" />

    <author href="https://fg.calderon.it" email="fg@calderon.it">
        Francisco Calderón
    </author>
	
    <!-- versionCode is optional and Android only -->
    <preference name="phonegap-version" value="3.3.0" />
    <preference name="fullscreen" value="true" />
    <gap:plugin name="org.apache.cordova.device"  />

    <gap:plugin name="org.apache.cordova.device-motion"  />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    

</widget>